@keyframes marquee {
  from {
    left: 100%;
  }
  to {
    left: -50%;
  }
}

@keyframes education {
  0% {
    opacity: 0;
    clip-path: inset(100% 100% 100% 100%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes progress-bar {
    from{
        width: 0;
    }
    to{
        width: var(--bar-width);
    }
}
