:root {
  --primary: hsl(205, 100%, 36%);
  --accent: hsl(173, 100%, 36%);
  --bg: hsl(0, 0%, 97%);
  --font-primary: "Roboto Slab", serif;
  --font-1: "Poppins", serif;
  --font-2: "Oswald", serif;
}

/* ############ Custom Classes ############ */
.bg {
  background-color: var(--bg);
}
.accent {
  color: var(--accent);
}
.accent-bg {
  background-color: var(--accent);
}
.primary {
  color: var(--primary);
}
.primary-bg {
  background-color: var(--primary);
}
.font-1 {
  font-family: var(--font-1);
}
.font-2 {
  font-family: var(--font-2);
}

/* ######################################### */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--font-primary);
}

a {
  color: inherit !important;
}

header,
section[role="banner"],
footer {
  background-color: var(--primary);
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  box-shadow: inset 50px 0px 0px 0px var(--bg);
}
.nav-link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transition: all 0.15s ease;
}
.nav-link:hover::after {
  width: 100%;
}

.greeting {
  height: 90vh;
}
.worked-with {
  & > [role="marquee"] {
    position: relative;
    height: 200px;
    mask-image: linear-gradient(
      to right,
      hsl(0, 0%, 0%, 0),
      hsl(0, 0%, 0%, 1) 20%,
      hsl(0, 0%, 0%, 1) 80%,
      hsl(0, 0%, 0%, 0)
    );

    &:hover img {
      animation-play-state: paused;
    }
  }

  & img {
    position: absolute;
    filter: grayscale();
    left: 100%;
    width: 20%;
    height: 100px;
    animation: marquee 30s linear infinite;
    animation-delay: calc(30s / 4 * (var(--delay) - 1));

    &:hover {
      filter: none;
    }
  }
}

section {
  scroll-margin-top: var(--navbar-height);
}
.list-alphabet {
  list-style: upper-alpha;
}

/* ################### Education ################### */

#education .card {
  animation: education ease;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}
#education .card .bar {
  animation: progress-bar ease;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.progress-bar-holder {
  & .progress--bar {
    height: fit-content;
  }

  & .bar {
    height: 10px;
  }
}

/* ####################### Experience ####################### */

#experience {
  & .card {
    --card-color: var(--color, blue);

    outline: 1px solid var(--card-color);
    height: 110px;
    cursor: pointer;
    transition: all 500ms ease;

    &:hover {
      background-color: var(--card-color);
      color: white;
      scale: 1.05;
    }
  }
  & img {
    width: 75px;
    height: 75px;
    top: -37.5px;
    box-shadow: var(--card-color) 0px 2px 8px 0px;
  }

  & #accenture,
  #accenture-2 {
    --color: #a100ff;
  }
  & #diageo {
    --color: #c80651;
  }
  & #atos {
    --color: #0596ff;
  }
  & #jktech {
    --color: #1857ff;
  }

  & #companies-projects > dialog {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    & button#dialog-close-btn {
      border: none;
      outline: none;
      color: hsl(0, 100%, 40%);
      background-color: transparent;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  & #companies-projects > dialog {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &#accenture,
    &#accenture-2 {
      background-image: url("../Images/Experience/Accenture.jpeg");
    }
    &#diageo {
      background-image: url("../Images/Experience/Diageo.jpeg");
    }
    &#atos {
      background-image: url("../Images/Experience/Atos.jpeg");
    }
    &#jktech {
      background-image: url("../Images/Experience/JKteck.jpeg");
    }
  }
}

/* ###################### Carousel ###################### */

#experience #companies-projects > dialog {
  --card-color: var(--color, blue);
  padding: 0;

  & .my-carousel-prev,
  & .my-carousel-next {
    background-color: var(--card-color);
    color: white;
    border: none;
    outline: none;
  }

  & .slide-active {
    background-color: var(--card-color) !important;
    width: 20px !important;
    border-radius: 5px !important;
  }
  & .my-carousel-slide-no {
    padding: 5px;
    border: none;
    outline: none;
    width: 2px;
    transition: all 500ms ease;
  }

  & .my-carousel-inner {
    transition: all 500ms ease;
  }

  & .my-carousel-item {
    min-width: 100%;
    box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(5px);
  }
}

/* ################### Contact ################### */

#contact{
  height: 70vh;
}

.social-links > a {
  & > i {
    transition: all 0.15s ease;
  }
  &:hover > i {
    color: var(--accent);
  }
}
